In [ ]:
import pandas as pd
import numpy as np

In [ ]:
fubc_1_to_9 = pd.read_csv("D:/kerja/asisten riset/code v/review/doi_10_5061_dryad_2rbnzs7qh__v20220822/FUBC_1_to_9_data.csv")
fubc_9_raw_data = pd.read_csv("D:/kerja/asisten riset/code v/review/doi_10_5061_dryad_2rbnzs7qh__v20220822/FUBC_9_raw_data.csv", delimiter=',', encoding='latin', low_memory=False)
ifa_regions = pd.read_csv("D:/kerja/asisten riset/code v/review/doi_10_5061_dryad_2rbnzs7qh__v20220822/IFA_regions.csv", delimiter=',', encoding='latin', low_memory=False)
ISI_data = pd.read_excel("D:/kerja/asisten riset/code v/review/fubc_1_to_9_Item_ISI.xlsx")

### Ambil kolom N fertilizer application (kg N/ha) tiap negara tiap crop

In [4]:
fubc_1_to_9[(fubc_1_to_9['Country'] == 'Indonesia') & (fubc_1_to_9['Crop'] == 'Oil-palm') | (fubc_1_to_9['Country'] == 'Indonesia') & (fubc_1_to_9['Crop'] == 'Oil palm') | (fubc_1_to_9['Country'] == 'Indonesia') & (fubc_1_to_9['Crop'] == 'Oil Palm') | (fubc_1_to_9['Country'] == 'Indonesia') & (fubc_1_to_9['Crop'] == 'Oil-Palm')]

,Original_country_name_in_FUBC_report,Country,ISO3_code,Region_IFA,Year,FUBC_report_number,Year_FUBC_publication,Crop,Crop_area_k_ha,N_k_t,...,N_rate_kg_ha,P2O5_rate_kg_ha,K2O_rate_kg_ha,N_pc_fert,P2O5_pc_fert,K2O_pc_fert,Aver_N_rate_kg_ha,Aver_P2O5_rate_kg_ha,Aver_K2O_rate_kg_ha,Aver_N_P2O5_K2O_rate_kg_ha
2435,Indonesia,Indonesia,IDN,East Asia,1993,3,1996,Oil-palm,983.000,44.235000,...,50.0,15.0,130.0,90.0,90.0,90.0,NaN,NaN,NaN,NaN
3534,Indonesia,Indonesia,IDN,East Asia,1993,4,1999,Oil palm,983.000,44.200000,...,50.0,15.0,130.0,90.0,90.0,90.0,NaN,NaN,NaN,NaN
4833,Indonesia,Indonesia,IDN,East Asia,2001,5,2002,Oil Palm,2500.000,190.000000,...,95.0,30.0,75.0,80.0,80.0,80.0,NaN,NaN,NaN,NaN
5780,Indonesia,Indonesia,IDN,East Asia,2006,6,2009,Oil palm,NaN,305.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5781,Indonesia,Indonesia,IDN,East Asia,2007,6,2009,Oil palm,NaN,337.480000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6193,Indonesia,Indonesia,IDN,East Asia,2010,7,2013,Oil palm,NaN,548.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6542,Indonesia,Indonesia,IDN,East Asia,2014,8,2017,Oil palm,NaN,745.300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7086,Indonesia,Indonesia,IDN,East Asia,2018,9,2022,Oil palm,14327.093,1444.703079,...,NaN,NaN,NaN,NaN,NaN,NaN,100.83714,49.080256,131.395809,281.313205

In [3]:
fubc_1_to_9_copy = fubc_1_to_9[['Original_country_name_in_FUBC_report', 'Country', 'ISO3_code',  'Year', 'Crop','N_rate_kg_ha']]
fubc_1_to_9_new = fubc_1_to_9_copy.copy()
fubc_1_to_9_new.rename(columns={'Crop': 'Item'}, inplace=True)
fubc_1_to_9_new.loc[:,'Item'] = fubc_1_to_9_new['Item'].str.lower()
fubc_1_to_9_new = fubc_1_to_9_new[~fubc_1_to_9_new['Item'].str.contains('silage')]
fubc_1_to_9_new = fubc_1_to_9_new[~fubc_1_to_9_new['Item'].str.contains('fodder')]

fubc_1_to_9_new.loc[:,'Item'] = fubc_1_to_9_new['Item'].str.replace('\r\r\r\n', '')
fubc_1_to_9_new.loc[:,'Item'] = fubc_1_to_9_new['Item'].str.replace('/', ' ')
fubc_1_to_9_new.loc[:,'Item'] = fubc_1_to_9_new['Item'].str.replace('-', ' ')
fubc_1_to_9_new.loc[:,'Item'] = fubc_1_to_9_new['Item'].str.strip()

fubc_1_to_9_new[(fubc_1_to_9_new['Country'] == 'Indonesia') & (fubc_1_to_9_new['Item'] == 'oil palm') | (fubc_1_to_9_new['Country'] == 'Indonesia') & (fubc_1_to_9_new['Item'] == 'oil palm')]

,Original_country_name_in_FUBC_report,Country,ISO3_code,Year,Item,N_rate_kg_ha
2435,Indonesia,Indonesia,IDN,1993,oil palm,50.0
3534,Indonesia,Indonesia,IDN,1993,oil palm,50.0
4833,Indonesia,Indonesia,IDN,2001,oil palm,95.0
5780,Indonesia,Indonesia,IDN,2006,oil palm,NaN
5781,Indonesia,Indonesia,IDN,2007,oil palm,NaN
6193,Indonesia,Indonesia,IDN,2010,oil palm,NaN
6542,Indonesia,Indonesia,IDN,2014,oil palm,NaN
7086,Indonesia,Indonesia,IDN,2018,oil palm,NaN

In [4]:
ISI_data_filtered = ISI_data[ISI_data['Included or not'] == "YES"]
ISI_data_filtered.head()

           crop Included or not          FAO Crops IMAGE Classification
2        almond             YES  Almonds, in shell  Vegetables & fruits
3         apple             YES             Apples  Vegetables & fruits
4  apple & pear             YES             Apples  Vegetables & fruits
5    apple pear             YES             Apples  Vegetables & fruits
6        apples             YES             Apples  Vegetables & fruits

In [5]:
fubc_1_to_9_merge = pd.merge(left=fubc_1_to_9_new, right=ISI_data_filtered, left_on='Item', right_on='crop')
fubc_1_to_9_merge.head()

,Original_country_name_in_FUBC_report,Country,ISO3_code,Year,Item,N_rate_kg_ha,crop,Included or not,FAO Crops,IMAGE Classification
0,ALGERIA,Algeria,DZA,1986,barley,NaN,barley,YES,Barley,Other temperate cereals
1,ALGERIA,Algeria,DZA,1986,carrot,100.0,carrot,YES,Carrots and turnips,Vegetables & fruits
2,ALGERIA,Algeria,DZA,1986,citrus fruits,250.0,citrus fruits,YES,"Other citrus fruit, n.e.c.",Vegetables & fruits
3,ALGERIA,Algeria,DZA,1986,fruits (other),100.0,fruits (other),YES,NaN,Vegetables & fruits
4,ALGERIA,Algeria,DZA,1986,garlic,100.0,garlic,YES,Green garlic,"Other non-food, luxury, spices"

In [6]:
fubc_1_to_9_drop = fubc_1_to_9_merge.drop(columns=['crop', 'Item'])
fubc_1_to_9_drop.head()

,Original_country_name_in_FUBC_report,Country,ISO3_code,Year,N_rate_kg_ha,Included or not,FAO Crops,IMAGE Classification
0,ALGERIA,Algeria,DZA,1986,NaN,YES,Barley,Other temperate cereals
1,ALGERIA,Algeria,DZA,1986,100.0,YES,Carrots and turnips,Vegetables & fruits
2,ALGERIA,Algeria,DZA,1986,250.0,YES,"Other citrus fruit, n.e.c.",Vegetables & fruits
3,ALGERIA,Algeria,DZA,1986,100.0,YES,NaN,Vegetables & fruits
4,ALGERIA,Algeria,DZA,1986,100.0,YES,Green garlic,"Other non-food, luxury, spices"

In [7]:
fubc_1_to_9_drop[(fubc_1_to_9_drop['Country'] == 'Indonesia') & (fubc_1_to_9_drop['FAO Crops'] == 'Oil palm fruit')]

,Original_country_name_in_FUBC_report,Country,ISO3_code,Year,N_rate_kg_ha,Included or not,FAO Crops,IMAGE Classification
2159,Indonesia,Indonesia,IDN,1993,50.0,YES,Oil palm fruit,"Oil, palm fruit"
3123,Indonesia,Indonesia,IDN,1993,50.0,YES,Oil palm fruit,"Oil, palm fruit"
4265,Indonesia,Indonesia,IDN,2001,95.0,YES,Oil palm fruit,"Oil, palm fruit"
5095,Indonesia,Indonesia,IDN,2006,NaN,YES,Oil palm fruit,"Oil, palm fruit"
5096,Indonesia,Indonesia,IDN,2007,NaN,YES,Oil palm fruit,"Oil, palm fruit"
5436,Indonesia,Indonesia,IDN,2010,NaN,YES,Oil palm fruit,"Oil, palm fruit"
5722,Indonesia,Indonesia,IDN,2014,NaN,YES,Oil palm fruit,"Oil, palm fruit"
6131,Indonesia,Indonesia,IDN,2018,NaN,YES,Oil palm fruit,"Oil, palm fruit"

In [8]:
crop_class = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/Crop Classification_latest.xlsx", engine="openpyxl", skiprows=1)
crop_class = crop_class.drop('Unnamed: 0', axis=1)
crop_class.rename(columns={'FAO Crops': 'Item'}, inplace=True)
crop_class.loc[:,'Item'] = crop_class['Item'].str.lower()
crop_class.loc[:,'IMAGE Classification'] = crop_class.loc[:,'IMAGE Classification'].replace("Vegetables or fruits", "Vegetables & fruits")
# crop_class['Item'].unique()
crop_class

,No,Item,FAO (primary/ processed),photosynthesis pathway,Alternative Class (C3 nitrogen fixing/ legumes crops) & (CAM to C4),Monfreda annual/ perennial,LUH2Class,IMAGE Classification,Explicitly in IMAGE class,Hong 2021 Classification,Monfreda 2008\n Group,Monfreda Crop Name,Herbaceous/Shrub/Tree
0,75,maize (corn),Primary,C4,NaN,annual,c4ann,Maize,YES,Cereals,cereals,Maize,herbaceous
1,86,oil palm fruit,Primary,C3,NaN,perennial,c3per,"Oil, palm fruit",YES,Oil Crops,oil crops,Oil palm fruit,tree
2,4,"anise, badian, coriander, cumin, caraway, fenn...",Primary,C3,NaN,annual,c3ann,"Other non-food, luxury, spices",YES,Spices,other,"Anise, badian, and fennel",herbaceous
3,35,"chillies and peppers, dry (capsicum spp., pime...",Primary,C3,NaN,annual,c3ann,"Other non-food, luxury, spices",YES,Spices,vegetables and melons,"Chilies and peppers, green",herbaceous
4,36,"chillies and peppers, green (capsicum spp. and...",Primary,C3,NaN,annual,c3ann,"Other non-food, luxury, spices",YES,Vegetables,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,156,"walnuts, in shell",Primary,C3,NaN,perennial,c3per,Vegetables & fruits,YES,Pulses,tree nuts,Walnuts,tree
157,158,grapefruit and pomelos,Primary,C3,NaN,perennial,c3per,Vegetables & fruits,YES,Fruit,fruit,Grapefruit and pomelos,tree
158,138,spinach,Primary,C3,NaN,annual,c3ann,Vegetables & fruits,YES,Vegetables,vegetables and melons,Spinach,herbaceous
159,157,watermelons,Primary,C3,NaN,annual,c3ann,Vegetables & fruits,YES,Fruit,vegetables and melons,Watermelons,herbaceous
160,159,wheat,Primary,C3,NaN,annual,c3ann,Wheat,YES,Cereals,cereals,Wheat,herbaceous

In [9]:
country_code = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/ISO-3166-Country-Code_Final.xlsx")
country_code.head()

,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,IMAGE Region Code,IMAGE Region Name
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,South Asia,Asia,RSAS,Rest S. Asia
1,Albania,AL,ALB,8,ISO 3166-2:AL,Europe and Russia,Europe,CEU,C. Europe
2,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
3,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Oceania,OCE,Oceania
4,Andorra,AD,AND,20,ISO 3166-2:AD,Europe and Russia,Europe,WEU,W. Europe

In [ ]:
fubc_region_merge = pd.merge(left=fubc_1_to_9_drop, right=country_code, left_on='ISO3_code', right_on='alpha-3')
fubc_region_merge.head()

,Original_country_name_in_FUBC_report,Country,ISO3_code,Year,N_rate_kg_ha,Included or not,FAO Crops,IMAGE Classification,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,IMAGE Region Code,IMAGE Region Name
0,ALGERIA,Algeria,DZA,1986,NaN,YES,Barley,Other temperate cereals,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
1,ALGERIA,Algeria,DZA,1986,100.0,YES,Carrots and turnips,Vegetables & fruits,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
2,ALGERIA,Algeria,DZA,1986,250.0,YES,"Other citrus fruit, n.e.c.",Vegetables & fruits,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
3,ALGERIA,Algeria,DZA,1986,100.0,YES,NaN,Vegetables & fruits,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
4,ALGERIA,Algeria,DZA,1986,100.0,YES,Green garlic,"Other non-food, luxury, spices",Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa

In [11]:
fubc_region_merge_new = fubc_region_merge[['ISO Country', 'Year', 'FAO Crops', 'N_rate_kg_ha', 'IMAGE Classification',
       'alpha-2', 'alpha-3', 'country-code', 'IMAGE Region Code', 'IMAGE Region Name']]
fubc_region_merge_new.head()

,ISO Country,Year,FAO Crops,N_rate_kg_ha,IMAGE Classification,alpha-2,alpha-3,country-code,IMAGE Region Code,IMAGE Region Name
0,Algeria,1986,Barley,NaN,Other temperate cereals,DZ,DZA,12,NAF,N. Africa
1,Algeria,1986,Carrots and turnips,100.0,Vegetables & fruits,DZ,DZA,12,NAF,N. Africa
2,Algeria,1986,"Other citrus fruit, n.e.c.",250.0,Vegetables & fruits,DZ,DZA,12,NAF,N. Africa
3,Algeria,1986,NaN,100.0,Vegetables & fruits,DZ,DZA,12,NAF,N. Africa
4,Algeria,1986,Green garlic,100.0,"Other non-food, luxury, spices",DZ,DZA,12,NAF,N. Africa

In [12]:
fubc_region_merge_new[(fubc_region_merge_new['ISO Country'] == 'Indonesia') & (fubc_region_merge_new['FAO Crops'] == 'Oil palm fruit')]

,ISO Country,Year,FAO Crops,N_rate_kg_ha,IMAGE Classification,alpha-2,alpha-3,country-code,IMAGE Region Code,IMAGE Region Name
2159,Indonesia,1993,Oil palm fruit,50.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
3123,Indonesia,1993,Oil palm fruit,50.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
4265,Indonesia,2001,Oil palm fruit,95.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5095,Indonesia,2006,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5096,Indonesia,2007,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5436,Indonesia,2010,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5722,Indonesia,2014,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
6131,Indonesia,2018,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia

1968-1972	1970\
1973-1977	1975\
1978-1982	1980\
1983-1987	1985\
1988-1992	1990\
1993-1997	1995\
1998-2002	2000\
2003-2007	2005\
2008-2012	2010\
2013-2017	2015\
2018-2020	2020

In [13]:
fubc_region_merge_new.loc[:,'Year']  = fubc_region_merge_new['Year'].replace('1999/2000', '1999').replace('1991/92', '1991').replace("1990/91", "1990").replace("1992/93", "1992").replace("1989/90", "1989").replace("1998/99", "1998").replace("1997-98", "1997")

In [14]:
fubc_region_merge_new.loc[:,'Year'] = fubc_region_merge_new['Year'].astype('int')

In [15]:
fubc_region_merge_new[(fubc_region_merge_new['ISO Country'] == 'Indonesia') & (fubc_region_merge_new['FAO Crops'] == 'Oil palm fruit')]

,ISO Country,Year,FAO Crops,N_rate_kg_ha,IMAGE Classification,alpha-2,alpha-3,country-code,IMAGE Region Code,IMAGE Region Name
2159,Indonesia,1993,Oil palm fruit,50.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
3123,Indonesia,1993,Oil palm fruit,50.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
4265,Indonesia,2001,Oil palm fruit,95.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5095,Indonesia,2006,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5096,Indonesia,2007,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5436,Indonesia,2010,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5722,Indonesia,2014,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
6131,Indonesia,2018,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia

In [16]:
fubc_region_merge_copy = fubc_region_merge_new.copy()

eight_year_ranges = [(y, y+4) for y in range(1968, 2022, 5)]
five_yearIncrements = range(1970, 2021, 5)

for year, five_year in zip(eight_year_ranges, five_yearIncrements):

    year_idx = fubc_region_merge_new[(fubc_region_merge_new['Year'] >= year[0]) & (fubc_region_merge_new['Year'] <= year[1])]['Year'].index
    fubc_region_merge_copy.loc[year_idx, 'Year'] = five_year

fubc_region_merge_copy.head()

,ISO Country,Year,FAO Crops,N_rate_kg_ha,IMAGE Classification,alpha-2,alpha-3,country-code,IMAGE Region Code,IMAGE Region Name
0,Algeria,1985,Barley,NaN,Other temperate cereals,DZ,DZA,12,NAF,N. Africa
1,Algeria,1985,Carrots and turnips,100.0,Vegetables & fruits,DZ,DZA,12,NAF,N. Africa
2,Algeria,1985,"Other citrus fruit, n.e.c.",250.0,Vegetables & fruits,DZ,DZA,12,NAF,N. Africa
3,Algeria,1985,NaN,100.0,Vegetables & fruits,DZ,DZA,12,NAF,N. Africa
4,Algeria,1985,Green garlic,100.0,"Other non-food, luxury, spices",DZ,DZA,12,NAF,N. Africa

In [17]:
fubc_region_merge_copy[(fubc_region_merge_copy['ISO Country'] == 'Indonesia') & (fubc_region_merge_copy['FAO Crops'] == 'Oil palm fruit')]

,ISO Country,Year,FAO Crops,N_rate_kg_ha,IMAGE Classification,alpha-2,alpha-3,country-code,IMAGE Region Code,IMAGE Region Name
2159,Indonesia,1995,Oil palm fruit,50.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
3123,Indonesia,1995,Oil palm fruit,50.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
4265,Indonesia,2000,Oil palm fruit,95.0,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5095,Indonesia,2005,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5096,Indonesia,2005,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5436,Indonesia,2010,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
5722,Indonesia,2015,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia
6131,Indonesia,2020,Oil palm fruit,NaN,"Oil, palm fruit",ID,IDN,360,INDO,Indonesia

In [18]:
averaged_df = fubc_region_merge_copy.groupby(['ISO Country', 'Year', 'FAO Crops',
       'IMAGE Classification', 'IMAGE Region Name'])['N_rate_kg_ha'].mean().reset_index()
averaged_df.loc[:,'FAO Crops'] = averaged_df['FAO Crops'].str.lower() 
averaged_df['Year'] = averaged_df['Year'].astype('int64')

In [19]:
averaged_df[(averaged_df['ISO Country'] == 'Indonesia') & (averaged_df['FAO Crops'] == 'oil palm fruit')]

,ISO Country,Year,FAO Crops,IMAGE Classification,IMAGE Region Name,N_rate_kg_ha
1297,Indonesia,1995,oil palm fruit,"Oil, palm fruit",Indonesia,50.0
1307,Indonesia,2000,oil palm fruit,"Oil, palm fruit",Indonesia,95.0
1317,Indonesia,2005,oil palm fruit,"Oil, palm fruit",Indonesia,NaN
1324,Indonesia,2010,oil palm fruit,"Oil, palm fruit",Indonesia,NaN
1330,Indonesia,2015,oil palm fruit,"Oil, palm fruit",Indonesia,NaN
1336,Indonesia,2020,oil palm fruit,"Oil, palm fruit",Indonesia,NaN

In [21]:
len([x for x in crop_class['Item'].unique()] * 238 *11)

421498

In [96]:
len([x for x in country_code['ISO Country'].unique()] * 161 *11)

421498

In [91]:
len([x for x in range(1970, 2021, 5)] * 238 * 161)

421498

In [406]:
len(crop_class['IMAGE Classification'].unique())

16

In [20]:
import pandas as pd
import itertools

# Define the values for each column
years = range(1970, 2021, 5)
crops = [x for x in crop_class['Item'].unique()]
countries = [x for x in country_code['ISO Country'].unique()]

# Generate the combinations using itertools.product
combinations = list(itertools.product(years, countries, crops))

# Create a Pandas DataFrame from the combinations
df_new = pd.DataFrame(combinations, columns=['Year', 'ISO Country', 'FAO Crops'])

df_new

        Year  ISO Country                                          FAO Crops
0       1970  Afghanistan                                       maize (corn)
1       1970  Afghanistan                                     oil palm fruit
2       1970  Afghanistan  anise, badian, coriander, cumin, caraway, fenn...
3       1970  Afghanistan  chillies and peppers, dry (capsicum spp., pime...
4       1970  Afghanistan  chillies and peppers, green (capsicum spp. and...
...      ...          ...                                                ...
421493  2020       Kosovo                                  walnuts, in shell
421494  2020       Kosovo                             grapefruit and pomelos
421495  2020       Kosovo                                            spinach
421496  2020       Kosovo                                        watermelons
421497  2020       Kosovo                                              wheat

[421498 rows x 3 columns]

In [21]:
df_new[(df_new['ISO Country'] == 'Indonesia') & (df_new['FAO Crops'] == 'oil palm fruit')]

        Year ISO Country       FAO Crops
15940   1970   Indonesia  oil palm fruit
54258   1975   Indonesia  oil palm fruit
92576   1980   Indonesia  oil palm fruit
130894  1985   Indonesia  oil palm fruit
169212  1990   Indonesia  oil palm fruit
207530  1995   Indonesia  oil palm fruit
245848  2000   Indonesia  oil palm fruit
284166  2005   Indonesia  oil palm fruit
322484  2010   Indonesia  oil palm fruit
360802  2015   Indonesia  oil palm fruit
399120  2020   Indonesia  oil palm fruit

In [22]:
crop_class_filtered = crop_class[['Item', 'IMAGE Classification']]
crop_class_filtered

,Item,IMAGE Classification
0,maize (corn),Maize
1,oil palm fruit,"Oil, palm fruit"
2,"anise, badian, coriander, cumin, caraway, fenn...","Other non-food, luxury, spices"
3,"chillies and peppers, dry (capsicum spp., pime...","Other non-food, luxury, spices"
4,"chillies and peppers, green (capsicum spp. and...","Other non-food, luxury, spices"
...,...,...
156,"walnuts, in shell",Vegetables & fruits
157,grapefruit and pomelos,Vegetables & fruits
158,spinach,Vegetables & fruits
159,watermelons,Vegetables & fruits
160,wheat,Wheat

In [23]:
df_merge = pd.merge(df_new, country_code, on=['ISO Country'], how='outer')
df_merge = df_merge[['Year', 'ISO Country', 'FAO Crops', 'IMAGE Region Name']]
df_merge = pd.merge(df_merge, crop_class_filtered, left_on=['FAO Crops'], right_on=['Item'], how='outer')
df_merge = df_merge.drop(columns=['Item'])
df_merge

,Year,ISO Country,FAO Crops,IMAGE Region Name,IMAGE Classification
0,1970,Afghanistan,"abaca, manila hemp, raw",Rest S. Asia,Plant-based fibers
1,1975,Afghanistan,"abaca, manila hemp, raw",Rest S. Asia,Plant-based fibers
2,1980,Afghanistan,"abaca, manila hemp, raw",Rest S. Asia,Plant-based fibers
3,1985,Afghanistan,"abaca, manila hemp, raw",Rest S. Asia,Plant-based fibers
4,1990,Afghanistan,"abaca, manila hemp, raw",Rest S. Asia,Plant-based fibers
...,...,...,...,...,...
421493,2000,Zimbabwe,yautia,Rest S. Africa,Tropical roots and tubers
421494,2005,Zimbabwe,yautia,Rest S. Africa,Tropical roots and tubers
421495,2010,Zimbabwe,yautia,Rest S. Africa,Tropical roots and tubers
421496,2015,Zimbabwe,yautia,Rest S. Africa,Tropical roots and tubers
421497,2020,Zimbabwe,yautia,Rest S. Africa,Tropical roots and tubers

In [24]:
df_merge[(df_merge['ISO Country'] == 'Indonesia') & (df_merge['FAO Crops'] == 'oil palm fruit')]

,Year,ISO Country,FAO Crops,IMAGE Region Name,IMAGE Classification
226237,1970,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226238,1975,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226239,1980,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226240,1985,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226241,1990,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226242,1995,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226243,2000,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226244,2005,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226245,2010,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226246,2015,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"
226247,2020,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit"

In [25]:
df_averaged_merge = pd.merge(df_merge, averaged_df, on=['Year', 'ISO Country', 'FAO Crops'], how='outer')
df_averaged_merge

,Year,ISO Country,FAO Crops,IMAGE Region Name_x,IMAGE Classification_x,IMAGE Classification_y,IMAGE Region Name_y,N_rate_kg_ha
0,1970,Afghanistan,"abaca, manila hemp, raw",Rest S. Asia,Plant-based fibers,NaN,NaN,NaN
1,1970,Afghanistan,"agave fibres, raw, n.e.c.",Rest S. Asia,Plant-based fibers,NaN,NaN,NaN
2,1970,Afghanistan,"almonds, in shell",Rest S. Asia,Vegetables & fruits,NaN,NaN,NaN
3,1970,Afghanistan,"anise, badian, coriander, cumin, caraway, fenn...",Rest S. Asia,"Other non-food, luxury, spices",NaN,NaN,NaN
4,1970,Afghanistan,apples,Rest S. Asia,Vegetables & fruits,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
421493,2020,Zimbabwe,"walnuts, in shell",Rest S. Africa,Vegetables & fruits,NaN,NaN,NaN
421494,2020,Zimbabwe,watermelons,Rest S. Africa,Vegetables & fruits,NaN,NaN,NaN
421495,2020,Zimbabwe,wheat,Rest S. Africa,Wheat,NaN,NaN,NaN
421496,2020,Zimbabwe,yams,Rest S. Africa,Tropical roots and tubers,NaN,NaN,NaN
421497,2020,Zimbabwe,yautia,Rest S. Africa,Tropical roots and tubers,NaN,NaN,NaN

In [26]:
df_averaged_merge[(df_averaged_merge['ISO Country'] == 'Indonesia') & (df_averaged_merge['FAO Crops']== "oil palm fruit")]

,Year,ISO Country,FAO Crops,IMAGE Region Name_x,IMAGE Classification_x,IMAGE Classification_y,IMAGE Region Name_y,N_rate_kg_ha
16025,1970,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit",NaN,NaN,NaN
54343,1975,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit",NaN,NaN,NaN
92661,1980,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit",NaN,NaN,NaN
130979,1985,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit",NaN,NaN,NaN
169297,1990,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit",NaN,NaN,NaN
207615,1995,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit","Oil, palm fruit",Indonesia,50.0
245933,2000,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit","Oil, palm fruit",Indonesia,95.0
284251,2005,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit","Oil, palm fruit",Indonesia,NaN
322569,2010,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit","Oil, palm fruit",Indonesia,NaN
360887,2015,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit","Oil, palm fruit",Indonesia,NaN
399205,2020,Indonesia,oil palm fruit,Indonesia,"Oil, palm fruit","Oil, palm fruit",Indonesia,NaN

In [27]:
df_new_merge_filtered = df_averaged_merge[['Year', 'ISO Country', 'FAO Crops', 'IMAGE Region Name_x', 'IMAGE Classification_x', 'N_rate_kg_ha']]
df_new_merge_filtered = df_new_merge_filtered.rename(columns={"ISO Country":"country","IMAGE Classification_x": "IMAGE Classification", "IMAGE Region Name_x": "IMAGE Region Name"})
df_new_merge_filtered

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
0,1970,Afghanistan,"abaca, manila hemp, raw",Rest S. Asia,Plant-based fibers,NaN
1,1970,Afghanistan,"agave fibres, raw, n.e.c.",Rest S. Asia,Plant-based fibers,NaN
2,1970,Afghanistan,"almonds, in shell",Rest S. Asia,Vegetables & fruits,NaN
3,1970,Afghanistan,"anise, badian, coriander, cumin, caraway, fenn...",Rest S. Asia,"Other non-food, luxury, spices",NaN
4,1970,Afghanistan,apples,Rest S. Asia,Vegetables & fruits,NaN
...,...,...,...,...,...,...
421493,2020,Zimbabwe,"walnuts, in shell",Rest S. Africa,Vegetables & fruits,NaN
421494,2020,Zimbabwe,watermelons,Rest S. Africa,Vegetables & fruits,NaN
421495,2020,Zimbabwe,wheat,Rest S. Africa,Wheat,NaN
421496,2020,Zimbabwe,yams,Rest S. Africa,Tropical roots and tubers,NaN
421497,2020,Zimbabwe,yautia,Rest S. Africa,Tropical roots and tubers,NaN

In [ ]:
# df_new_merge_filtered_uji = df_new_merge_filtered.copy()
# df_new_merge_filtered_uji['N_rate_kg_ha'] = df_new_merge_filtered_uji['N_rate_kg_ha'].fillna(0)
# df_new_merge_filtered_uji[df_new_merge_filtered_uji['N_rate_kg_ha'] > 0]
# df_new_merge_filtered_uji[(df_new_merge_filtered_uji['country'] == "Tajikistan") & (df_new_merge_filtered_uji['Year'] == 1980)]

In [32]:
# df_new_merge_filtered_uji = df_new_merge_filtered_uji.sort_values(by="IMAGE Classification", ascending=True).reset_index(drop=True)
df_new_1k_rows = df_new_merge_filtered.sample(n=10000)
df_new_1k_rows[df_new_1k_rows['N_rate_kg_ha'] > 0]

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
144943,1985,Saudi Arabia,cucumbers and gherkins,Middle East,Vegetables & fruits,120.000
219035,1995,Poland,maize (corn),C. Europe,Maize,73.000
205608,1995,Guatemala,bananas,Rest C. America,Vegetables & fruits,120.000
209626,1995,"Korea, Republic of",apples,Korea,Vegetables & fruits,200.000
201422,1995,Egypt,bananas,N. Africa,Vegetables & fruits,864.000
201433,1995,Egypt,carrots and turnips,N. Africa,Vegetables & fruits,130.900
208864,1995,Jordan,eggplants (aubergines),Middle East,Vegetables & fruits,100.000
170004,1990,Israel,tomatoes,Middle East,Vegetables & fruits,300.000
162269,1990,Côte d'Ivoire,sugar cane,W. Africa,Sugar crops,104.000
210592,1995,Lebanon,apples,Middle East,Vegetables & fruits,122.625
205637,1995,Guatemala,"coffee, green",Rest C. America,"Other non-food, luxury, spices",120.000
209751,1995,"Korea, Republic of",rice,Korea,Rice,200.000
201128,1995,Dominican Republic,"coconuts, in shell",Rest C. America,Tropical oil crops,40.000
176804,1990,Myanmar,"cassava, fresh",SE. Asia,Tropical roots and tubers,1.000
218972,1995,Poland,barley,C. Europe,Other temperate cereals,83.700
201145,1995,Dominican Republic,green garlic,Rest C. America,"Other non-food, luxury, spices",145.000
189634,1990,United States of America,soya beans,USA,Soybeans,22.000
198500,1995,China,tea leaves,China,"Other non-food, luxury, spices",130.000
179797,1990,Panama,potatoes,Rest C. America,Temperate roots and tubers,292.000
140038,1985,Nigeria,rice,W. Africa,Rice,48.000
184970,1990,South Africa,sugar cane,South Africa,Sugar crops,110.000
159359,1990,Canada,rye,Canada,Other temperate cereals,40.000
189793,1990,Uruguay,sorghum,Rest S. America,Tropical cereals,54.850
198446,1995,China,"other citrus fruit, n.e.c.",China,Vegetables & fruits,150.000
190181,1990,Venezuela (Bolivarian Republic of),"coffee, green",Rest S. America,"Other non-food, luxury, spices",170.000
196189,1995,Brazil,oranges,Brazil,Vegetables & fruits,53.000
267021,2000,Viet Nam,natural rubber in primary forms,SE. Asia,"Other non-food, luxury, spices",40.000
254658,2000,Nicaragua,plantains and cooking bananas,Rest C. America,Vegetables & fruits,40.000
185607,1990,Sudan,sorghum,E. Africa,Tropical cereals,97.000
248737,2000,Lao People's Democratic Republic,unmanufactured tobacco,SE. Asia,"Other non-food, luxury, spices",65.000
145021,1985,Saudi Arabia,potatoes,Middle East,Temperate roots and tubers,223.000
170587,1990,Jordan,olives,Middle East,Temperate oil crops,150.000
268197,2000,Zimbabwe,"seed cotton, unginned",Rest S. Africa,Plant-based fibers,33.000
247229,2000,Jordan,"other citrus fruit, n.e.c.",Middle East,Vegetables & fruits,120.000
264842,2000,Turkey,wheat,Turkey,Wheat,64.600
218451,1995,Paraguay,sorghum,Rest S. America,Tropical cereals,40.000
157917,1990,Brazil,soya beans,Brazil,Soybeans,3.000
239433,2000,Dominican Republic,"cassava, fresh",Rest C. America,Tropical roots and tubers,60.000
168871,1990,Hungary,sunflower seed,C. Europe,Temperate oil crops,84.000
169987,1990,Israel,"seed cotton, unginned",Middle East,Plant-based fibers,200.000
254656,2000,Nicaragua,pineapples,Rest C. America,Vegetables & fruits,80.000
169192,1990,India,sugar cane,India,Sugar crops,103.000
207183,1995,Hungary,soya beans,C. Europe,Soybeans,71.000
176936,1990,Myanmar,wheat,SE. Asia,Wheat,7.000
183511,1990,Senegal,"seed cotton, unginned",W. Africa,Plant-based fibers,29.000
231317,2000,Argentina,potatoes,Rest S. America,Temperate roots and tubers,40.000
187372,1990,Togo,rice,W. Africa,Rice,48.000
145049,1985,Saudi Arabia,tomatoes,Middle East,Vegetables & fruits,180.000
225636,1995,Togo,maize (corn),W. Africa,Maize,35.000

In [32]:
# len(df_new_1k_rows['IMAGE Classification'].unique())

In [162]:
# df_new = pd.read_excel("D:/kerja/asisten riset/code v/review/Subset_data.xlsx")
# df_new = df_new.rename(columns={"ISO Country":"country"})
# df_new

In [ ]:
df_new_copy = df_new_1k_rows.copy()

# step 1
def fill_nearest_step1(row, df):
    if pd.isna(row['N_rate_kg_ha']):
        matching_rows = df[
            (df['IMAGE Region Name'] == row['IMAGE Region Name']) &
            (df['Year'] == row['Year']) &
            (df['IMAGE Classification'] == row['IMAGE Classification']) &
            (~df['N_rate_kg_ha'].isna())
        ]
        
        if not matching_rows.empty:
            return matching_rows['N_rate_kg_ha'].mean()
        
    return row['N_rate_kg_ha']

df_new_copy['N_rate_kg_ha'] = df_new_copy.apply(fill_nearest_step1, axis=1, df=df_new_copy)
df_new_copy

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
300253,2005,Spain,tomatoes,W. Europe,Vegetables & fruits,497.450000
131999,1985,Jamaica,string beans,Rest C. America,Pulses,NaN
22322,1970,Micronesia (Federated States of),"other tropical fruits, n.e.c.",Oceania,Vegetables & fruits,135.000000
175882,1990,Monaco,"lentils, dry",W. Europe,Pulses,NaN
166827,1990,Grenada,"chestnuts, in shell",Rest C. America,Vegetables & fruits,275.769231
...,...,...,...,...,...,...
377097,2015,Sudan,"chillies and peppers, green (capsicum spp. and...",E. Africa,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),sour cherries,Rest S. America,Vegetables & fruits,198.595313
249691,2000,Liechtenstein,sugar beet,W. Europe,Sugar crops,NaN
151075,1985,United States Minor Outlying Islands,"groundnuts, excluding shelled",N|A,Temperate oil crops,NaN
257925,2000,Romania,"anise, badian, coriander, cumin, caraway, fenn...",C. Europe,"Other non-food, luxury, spices",72.500000

In [44]:
df_new_copy[df_new_copy['N_rate_kg_ha'] > 0 ]

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
300253,2005,Spain,tomatoes,W. Europe,Vegetables & fruits,497.450000
22322,1970,Micronesia (Federated States of),"other tropical fruits, n.e.c.",Oceania,Vegetables & fruits,135.000000
166827,1990,Grenada,"chestnuts, in shell",Rest C. America,Vegetables & fruits,275.769231
108136,1980,Somalia,"other vegetables, fresh n.e.c.",E. Africa,Vegetables & fruits,130.656250
274111,2005,Cameroon,"onions and shallots, dry (excluding dehydrated)",W. Africa,Vegetables & fruits,497.450000
...,...,...,...,...,...,...
166359,1990,Gibraltar,edible roots and tubers with high starch or in...,W. Europe,Temperate roots and tubers,292.000000
246703,2000,Italy,"ginger, raw",W. Europe,"Other non-food, luxury, spices",72.500000
377097,2015,Sudan,"chillies and peppers, green (capsicum spp. and...",E. Africa,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),sour cherries,Rest S. America,Vegetables & fruits,198.595313
257925,2000,Romania,"anise, badian, coriander, cumin, caraway, fenn...",C. Europe,"Other non-food, luxury, spices",72.500000

In [45]:
df_new_copy2 = df_new_copy.copy()

# step 2
def fill_nearest_step2(row, df):
    if pd.isna(row['N_rate_kg_ha']):
        matching_rows = df[
            (df['country'] == row['country']) &
            (df['IMAGE Region Name'] == row['IMAGE Region Name']) &
            (df['FAO Crops'] == row['FAO Crops']) &
            (df['IMAGE Classification'] == row['IMAGE Classification'])
        ]
        
        if not matching_rows.empty:
            # Melakukan forward fill pada 'N_rate_kg_ha' dan mengambil nilai pertama yang diisi
            filled_value = matching_rows['N_rate_kg_ha'].ffill().iloc[0]
            return filled_value
        
    return row['N_rate_kg_ha']

df_new_copy2['N_rate_kg_ha'] = df_new_copy2.apply(fill_nearest_step2, axis=1, df=df_new_copy2)
df_new_copy2

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
300253,2005,Spain,tomatoes,W. Europe,Vegetables & fruits,497.450000
131999,1985,Jamaica,string beans,Rest C. America,Pulses,NaN
22322,1970,Micronesia (Federated States of),"other tropical fruits, n.e.c.",Oceania,Vegetables & fruits,135.000000
175882,1990,Monaco,"lentils, dry",W. Europe,Pulses,NaN
166827,1990,Grenada,"chestnuts, in shell",Rest C. America,Vegetables & fruits,275.769231
...,...,...,...,...,...,...
377097,2015,Sudan,"chillies and peppers, green (capsicum spp. and...",E. Africa,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),sour cherries,Rest S. America,Vegetables & fruits,198.595313
249691,2000,Liechtenstein,sugar beet,W. Europe,Sugar crops,NaN
151075,1985,United States Minor Outlying Islands,"groundnuts, excluding shelled",N|A,Temperate oil crops,NaN
257925,2000,Romania,"anise, badian, coriander, cumin, caraway, fenn...",C. Europe,"Other non-food, luxury, spices",72.500000

In [46]:
df_new_copy2[df_new_copy2['N_rate_kg_ha'] > 0 ]

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
300253,2005,Spain,tomatoes,W. Europe,Vegetables & fruits,497.450000
22322,1970,Micronesia (Federated States of),"other tropical fruits, n.e.c.",Oceania,Vegetables & fruits,135.000000
166827,1990,Grenada,"chestnuts, in shell",Rest C. America,Vegetables & fruits,275.769231
108136,1980,Somalia,"other vegetables, fresh n.e.c.",E. Africa,Vegetables & fruits,130.656250
274111,2005,Cameroon,"onions and shallots, dry (excluding dehydrated)",W. Africa,Vegetables & fruits,497.450000
...,...,...,...,...,...,...
166359,1990,Gibraltar,edible roots and tubers with high starch or in...,W. Europe,Temperate roots and tubers,292.000000
246703,2000,Italy,"ginger, raw",W. Europe,"Other non-food, luxury, spices",72.500000
377097,2015,Sudan,"chillies and peppers, green (capsicum spp. and...",E. Africa,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),sour cherries,Rest S. America,Vegetables & fruits,198.595313
257925,2000,Romania,"anise, badian, coriander, cumin, caraway, fenn...",C. Europe,"Other non-food, luxury, spices",72.500000

In [115]:
# df_new_copy2 = df_new_copy.copy()

# # step 2
# # Looping untuk setiap kombinasi unik dari nilai
# for Country in df_new_copy['country'].unique():
#     for Region in df_new_copy['IMAGE Region Name'].unique():
#         for Crops in df_new_copy['FAO Crops'].unique():
#             for Classification in df_new_copy['IMAGE Classification'].unique():
#                 # Mencari baris yang cocok
#                 matching_rows = df_new_copy[
#                     (df_new_copy['country'] == Country) &
#                     (df_new_copy['IMAGE Region Name'] == Region) &
#                     (df_new_copy['FAO Crops'] == Crops) &
#                     (df_new_copy['IMAGE Classification'] == Classification)
#                 ]
                
#                 # Mengisi nilai dengan forward fill jika ada baris yang cocok
#                 if not matching_rows.empty:
#                     # Melakukan forward fill pada N_rate_kg_ha
#                     filled_values = matching_rows['N_rate_kg_ha'].ffill()
#                     # Mengupdate df_new_copy2 dengan nilai yang terisi
#                     df_new_copy2.loc[
#                         matching_rows.index, 'N_rate_kg_ha'] = filled_values

# # Menampilkan DataFrame setelah pengisian
# df_new_copy2

In [47]:
df_new_copy3 = df_new_copy2.copy()

# step 3
def fill_nearest_step3(row, df):
    if pd.isna(row['N_rate_kg_ha']):
        matching_rows = df[
            (df['country'] == row['country']) &
            (df['IMAGE Region Name'] == row['IMAGE Region Name']) &
            (df['FAO Crops'] == row['FAO Crops']) &
            (df['IMAGE Classification'] == row['IMAGE Classification'])
        ]
        
        if not matching_rows.empty:
            filled_value = matching_rows['N_rate_kg_ha'].bfill().iloc[0]
            return filled_value   
        
    return row['N_rate_kg_ha']

df_new_copy3['N_rate_kg_ha'] = df_new_copy3.apply(fill_nearest_step3, axis=1, df=df_new_copy3)

In [48]:
df_new_copy3[df_new_copy3['N_rate_kg_ha'] > 0 ]

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
300253,2005,Spain,tomatoes,W. Europe,Vegetables & fruits,497.450000
22322,1970,Micronesia (Federated States of),"other tropical fruits, n.e.c.",Oceania,Vegetables & fruits,135.000000
166827,1990,Grenada,"chestnuts, in shell",Rest C. America,Vegetables & fruits,275.769231
294211,2005,Oman,karite nuts (sheanuts),Middle East,Tropical oil crops,40.000000
108136,1980,Somalia,"other vegetables, fresh n.e.c.",E. Africa,Vegetables & fruits,130.656250
...,...,...,...,...,...,...
166359,1990,Gibraltar,edible roots and tubers with high starch or in...,W. Europe,Temperate roots and tubers,292.000000
246703,2000,Italy,"ginger, raw",W. Europe,"Other non-food, luxury, spices",72.500000
377097,2015,Sudan,"chillies and peppers, green (capsicum spp. and...",E. Africa,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),sour cherries,Rest S. America,Vegetables & fruits,198.595313
257925,2000,Romania,"anise, badian, coriander, cumin, caraway, fenn...",C. Europe,"Other non-food, luxury, spices",72.500000

In [120]:
# df_new_copy3 = df_new_copy2.copy()

# # step 3
# # Looping untuk setiap kombinasi unik dari nilai
# for Country in df_new_copy['country'].unique():
#     for Region in df_new_copy['IMAGE Region Name'].unique():
#         for Crops in df_new_copy['FAO Crops'].unique():
#             for Classification in df_new_copy['IMAGE Classification'].unique():
#                 # Mencari baris yang cocok
#                 matching_rows = df_new_copy2[
#                     (df_new_copy2['country'] == Country) &
#                     (df_new_copy2['IMAGE Region Name'] == Region) &
#                     (df_new_copy2['FAO Crops'] == Crops) &
#                     (df_new_copy2['IMAGE Classification'] == Classification)
#                 ]
                

#                 filled_values = matching_rows['N_rate_kg_ha'].bfill()
#                 df_new_copy3.loc[
#                         matching_rows.index, 'N_rate_kg_ha'] = filled_values

# # Menampilkan DataFrame setelah pengisian
# df_new_copy3

In [49]:
df_new_copy3_drop_duplicates = df_new_copy3.drop_duplicates()

In [50]:
df_new_copy4 = df_new_copy3_drop_duplicates.copy()

# step 4
def fill_nearest_step4(row, df):
    if pd.isna(row['N_rate_kg_ha']):
        matching_rows = df[
            (df['Year'] == row['Year']) &
            (df['IMAGE Classification'] == row['IMAGE Classification'])
        ]
        
        if not matching_rows.empty:
            return matching_rows['N_rate_kg_ha'].mean()
        
    return row['N_rate_kg_ha']

df_new_copy4['N_rate_kg_ha'] = df_new_copy4.apply(fill_nearest_step4, axis=1, df=df_new_copy4)
df_new_copy4

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
300253,2005,Spain,tomatoes,W. Europe,Vegetables & fruits,497.450000
131999,1985,Jamaica,string beans,Rest C. America,Pulses,NaN
22322,1970,Micronesia (Federated States of),"other tropical fruits, n.e.c.",Oceania,Vegetables & fruits,135.000000
175882,1990,Monaco,"lentils, dry",W. Europe,Pulses,NaN
166827,1990,Grenada,"chestnuts, in shell",Rest C. America,Vegetables & fruits,275.769231
...,...,...,...,...,...,...
377097,2015,Sudan,"chillies and peppers, green (capsicum spp. and...",E. Africa,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),sour cherries,Rest S. America,Vegetables & fruits,198.595313
249691,2000,Liechtenstein,sugar beet,W. Europe,Sugar crops,110.000000
151075,1985,United States Minor Outlying Islands,"groundnuts, excluding shelled",N|A,Temperate oil crops,103.800000
257925,2000,Romania,"anise, badian, coriander, cumin, caraway, fenn...",C. Europe,"Other non-food, luxury, spices",72.500000

In [51]:
df_new_copy4[df_new_copy4['N_rate_kg_ha'] > 0 ]

,Year,country,FAO Crops,IMAGE Region Name,IMAGE Classification,N_rate_kg_ha
300253,2005,Spain,tomatoes,W. Europe,Vegetables & fruits,497.450000
22322,1970,Micronesia (Federated States of),"other tropical fruits, n.e.c.",Oceania,Vegetables & fruits,135.000000
166827,1990,Grenada,"chestnuts, in shell",Rest C. America,Vegetables & fruits,275.769231
294211,2005,Oman,karite nuts (sheanuts),Middle East,Tropical oil crops,40.000000
108136,1980,Somalia,"other vegetables, fresh n.e.c.",E. Africa,Vegetables & fruits,130.656250
...,...,...,...,...,...,...
377097,2015,Sudan,"chillies and peppers, green (capsicum spp. and...",E. Africa,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),sour cherries,Rest S. America,Vegetables & fruits,198.595313
249691,2000,Liechtenstein,sugar beet,W. Europe,Sugar crops,110.000000
151075,1985,United States Minor Outlying Islands,"groundnuts, excluding shelled",N|A,Temperate oil crops,103.800000
257925,2000,Romania,"anise, badian, coriander, cumin, caraway, fenn...",C. Europe,"Other non-food, luxury, spices",72.500000

In [129]:
# df_new_copy4 = df_new_copy3_drop_duplicates.copy()

# # Looping untuk setiap kombinasi unik dari nilai
# for Year in df_new_copy['Year'].unique():
#     for Classification in df_new_copy['IMAGE Classification'].unique():
#         # Mencari baris yang cocok
#         matching_rows = df_new_copy3_drop_duplicates[
#             (df_new_copy3_drop_duplicates['Year'] == Year) &
#             (df_new_copy3_drop_duplicates['IMAGE Classification'] == Classification)
#         ]
        
#         # # Mengisi nilai dengan forward fill jika ada baris yang cocok
#         if not matching_rows.empty:
#             filled_values = matching_rows['N_rate_kg_ha'].mean()
#             df_new_copy4.loc[matching_rows.index, 'N_rate_kg_ha'] = filled_values


# # Menampilkan DataFrame setelah pengisian
# df_new_copy4

In [ ]:
df_filtered = df_new_copy4.copy()

df_filtered = df_filtered.drop_duplicates()
df_filtered = df_filtered[['Year', 'country', 'IMAGE Classification', 'N_rate_kg_ha']]

df_filtered = df_filtered.rename(columns={"IMAGE Classification":"NGFBFC", "Year": "time"})
df_filtered

,time,country,NGFBFC,N_rate_kg_ha
300253,2005,Spain,Vegetables & fruits,497.450000
22322,1970,Micronesia (Federated States of),Vegetables & fruits,135.000000
166827,1990,Grenada,Vegetables & fruits,275.769231
294211,2005,Oman,Tropical oil crops,40.000000
108136,1980,Somalia,Vegetables & fruits,130.656250
...,...,...,...,...
377097,2015,Sudan,"Other non-food, luxury, spices",40.000000
387180,2020,Bolivia (Plurinational State of),Vegetables & fruits,198.595313
249691,2000,Liechtenstein,Sugar crops,110.000000
151075,1985,United States Minor Outlying Islands,Temperate oil crops,103.800000
257925,2000,Romania,"Other non-food, luxury, spices",72.500000

In [195]:
# df_new_copy4_filtered = df_new_merge_filtered_uji[['Year', 'IMAGE Classification', 'country', 'N_rate_kg_ha']]
# df_new_copy4_filtered = df_new_copy4_filtered.rename(columns={"IMAGE Classification": "NGFBFC", "Year":"time"})
# df_new_copy4_filtered.loc[:, "NGFBFC"] = df_new_copy4_filtered['NGFBFC'].str.lower()
# df_new_copy4_filtered[(df_new_copy4_filtered['country'] == "Tajikistan") & (df_new_copy4_filtered['time'] == 1980)].groupby(['time', 'NGFBFC', 'country']).mean()

In [53]:
import xarray

luh_static = xarray.open_dataset("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/CCODE_RASTER.nc", engine="netcdf4")
GFRAC = xarray.open_dataset("D:/kerja/asisten riset/vol/milkunC/achaidir/IMAGE PBL/SSP2/GFRAC_NEW.NC", engine="netcdf4")

ccode_iso = list(country_code['country-code'])
cname_iso = list(country_code['ISO Country'])

ccode_dict = {}
for i, ccode in enumerate(ccode_iso):
    ccode_dict[ccode] = cname_iso[i]

ccode_worldwide_int = luh_static['ccode'].to_numpy().astype('int64')

ccode_convert = np.zeros((2160, 4320), dtype="<U40") #rubah ke <U64

for i in range(2160):
    for j in range(4320):
        if (ccode_worldwide_int[i][j] in ccode_dict.keys()):
            ccode_convert[i][j] = ccode_dict[ccode_worldwide_int[i][j]]
        else:
            ccode_convert[i][j] = "ocean"
            
country = xarray.Dataset({"country": (["latitude", "longitude"], ccode_convert)},
                         coords={ "longitude": GFRAC.coords["longitude"].to_numpy(), "latitude": GFRAC.coords["latitude"].to_numpy()})

In [54]:
gfrac_ngfbfc = [element.strip() for element in GFRAC.coords['NGFBFC'].data.astype('str').tolist()]

In [55]:
xr_data = df_filtered.copy()
xr_data['NGFBFC'] = xr_data['NGFBFC'].replace("Temperate roots and tubers", "Temperate roots & tubers").replace('Tropical roots and tubers', 'Tropical roots & tubers').replace("Other non-food, luxury, spices", "Other non-food & luxury & spices").replace("Plant-based fibers", "Plant based fibres")
xr_data_grouped = xr_data.set_index(['time', 'NGFBFC','country'])
pivot_df = xr_data_grouped.pivot_table(values=['N_rate_kg_ha'], index=['time', 'NGFBFC', 'country'], aggfunc='mean')
pivot_df

                                                         N_rate_kg_ha
time NGFBFC                           country
1970 Other non-food & luxury & spices Albania              110.269886
                                      American Samoa       150.000000
                                      Armenia              150.000000
                                      Aruba                 40.000000
                                      Azerbaijan           110.269886
...                                                               ...
2020 Vegetables & fruits              Wallis and Futuna    198.595313
                                      Western Sahara       497.450000
                                      Yemen                198.595313
                                      Zambia               198.595313
                                      Zimbabwe             198.595313

[5589 rows x 1 columns]

In [56]:
df_xarray = pivot_df.to_xarray()
df_xarray['time'] = xarray.DataArray( np.array([np.datetime64(f'{year}-01-01', 'ns') for year in df_xarray['time'].values]), dims='time')
df_xarray

<xarray.Dataset>
Dimensions:       (time: 11, NGFBFC: 14, country: 238)
Coordinates:
  * time          (time) datetime64[ns] 1970-01-01 1975-01-01 ... 2020-01-01
  * NGFBFC        (NGFBFC) object 'Maize' ... 'Wheat'
  * country       (country) object 'Afghanistan' 'Albania' ... 'Zimbabwe'
Data variables:
    N_rate_kg_ha  (time, NGFBFC, country) float64 nan nan nan ... nan nan nan

In [ ]:
import xarray as xr
import pandas as pd
import numpy as np

# Load the NetCDF file
ds = xr.open_dataset("path_to_your_netcdf_file.nc")

# Load the Excel file
excel_data = pd.read_excel("path_to_your_excel_file.xlsx")

# Check if NetCDF has expected coordinates and dimensions
print(ds)

# Ensure year and country columns are of the correct type in Excel data
excel_data['year'] = excel_data['year'].astype(int)
excel_data['country'] = excel_data['country'].astype(str)

# Loop through each row in the Excel file and assign the value
for _, row in excel_data.iterrows():
    country = row['country']
    year = row['year']
    value = row['values']  # Assuming 'values' is the name of your variable column

    # Get indices where this country and year exist in the NetCDF file
    latlon_mask = ds.country == country
    time_index = ds.year == year

    # Assign the value to the matching country and year locations
    ds['variable'].loc[time_index, latlon_mask] = value

# Save the modified dataset back to a NetCDF file
ds.to_netcdf("updated_netcdf_file.nc")

In [57]:
fubc_ngfbfc = [element.strip() for element in df_xarray.coords['NGFBFC'].data.astype('str').tolist()]

In [ ]:
# fubc_netcdf = np.zeros((11, 14, 2160, 4320), dtype='float32')

In [ ]:
import xarray as xr
import numpy as np

# Buat dictionary kode negara ke nama negara
ccode_iso = list(country_code['country-code'])
cname_iso = list(country_code['ISO Country'])

ccode_dict = {ccode: cname for ccode, cname in zip(ccode_iso, cname_iso)}

# Ubah array kode negara ke nama negara langsung dengan vectorized mapping
ccode_worldwide_int = luh_static['ccode'].to_numpy().astype('int64')
ccode_names = np.vectorize(ccode_dict.get)(ccode_worldwide_int, "ocean")  # Ganti yang tidak ada dengan "ocean"

# Buat array kosong untuk NetCDF
fubc_netcdf = np.zeros((11, 14, 2160, 4320), dtype='float32')

# Loop hanya pada waktu dan NGFBFC saja, untuk spatial grid gunakan indexing langsung
for x in range(0, 11):
    for y, ngfbfc in enumerate(fubc_ngfbfc):
        # Ambil data `N_rate_kg_ha` untuk waktu `x` dan kategori `ngfbfc`
        data_slice = df_xarray['N_rate_kg_ha'].isel(time=x).sel(NGFBFC=ngfbfc)
        
        # Gunakan numpy indexing dengan matching nama negara
        mask = np.isin(ccode_names, data_slice['country'].values)
        fubc_netcdf[x, y][mask] = data_slice.sel(country=ccode_names[mask]).values

In [ ]:
# Buat kembali dataset xarray dari fubc_netcdf jika dibutuhkan
fubc_xarray = xr.DataArray(
    fubc_netcdf, 
    dims=["time", "NGFBFC", "latitude", "longitude"],
    coords={
        "time": pd.date_range(start='1970-01-01', end='2020-01-01', freq='5YS'),
        "NGFBFC": fubc_ngfbfc,
        "latitude": luh_static.coords["latitude"].to_numpy(),
        "longitude": luh_static.coords["longitude"].to_numpy(),
    }
)
fubc_xarray

In [ ]:
# for x in range(0, 11):
#     for y, ngfbfc in enumerate(fubc_ngfbfc):
#         for i in range(2160):
#             for j in range(4320):
#                 if (ccode_worldwide_int[i][j] in ccode_dict.keys()):
#                     fubc_netcdf[x][y][i][j] = df_xarray['N_rate_kg_ha'].isel(time=x).sel(NGFBFC=ngfbfc, country=ccode_dict[ccode_worldwide_int[i][j]])

In [229]:
df_xarray.isel(longitude=3003, latitude=588).isel(time=2)

<xarray.Dataset>
Dimensions:       (NGFBFC: 14)
Coordinates:
    time          datetime64[ns] 1980-01-01
  * NGFBFC        (NGFBFC) object 'Maize' ... 'Wheat'
    longitude     float64 70.29
    latitude      float64 40.96
    country       <U40 'Tajikistan'
Data variables:
    N_rate_kg_ha  (NGFBFC) float64 0.0 0.0 0.0 0.0 0.0 ... 0.0 0.0 1.469e+04 0.0

In [214]:
# fubc_newnetcdf = xarray.Dataset(
#     coords={
#         "time": pd.date_range(start='1970-01-01', end='2020-01-01', freq='5YS'),
#         "latitude": GFRAC.coords["latitude"].to_numpy(),
#         "longitude": GFRAC.coords["longitude"].to_numpy()
#     })
# coords = ("time", "latitude", "longitude")
# data_vars = {
#     ngfbc: (coords, df_xarray['N_rate_kg_ha'].isel(NGFBFC=i).values) for i, ngfbc in enumerate(fubc_ngfbfc)
# }
# fubc_newnetcdf = fubc_newnetcdf.assign(data_vars)
# fubc_newnetcdf

In [ ]:
fubc_xarray.to_netcdf("D:/kerja/asisten riset/vol/milkunC/achaidir/IMAGE PBL/SSP2/FUBC_NETCDF.NC", engine="netcdf4", mode="w")