In [1]:
import pandas as pd
import numpy as np
import xarray
from functools import reduce

am1crop_emisioncrops_gfrac = pd.read_excel("D:/kerja/asisten riset/code v/step 3/GbGlct/dataset/luc_agri_prop_crop_AM1_v3.xlsx")
ccode_iso = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/ISO-3166-Country-Code_Final.xlsx")

In [2]:
ccode_iso.isna().sum()

ISO Country          0
alpha-2              1
alpha-3              0
country-code         0
iso_3166-2           0
Sub Region           0
ISO Region           0
IMAGE Region Code    0
IMAGE Region Name    0
dtype: int64

In [3]:
am1crop_emisioncrops_gfrac_merge = pd.merge(left=ccode_iso, right=am1crop_emisioncrops_gfrac, how="left", left_on="ISO Country", right_on="country_name")

In [6]:
am1crop_emisioncrops_gfrac_merge_columns = am1crop_emisioncrops_gfrac_merge[[ 'IMAGE Region Name', 'type',                1975,
                      1980,                1985,                1990,
                      1995,                2000,                2005,
                      2010,                2015,                2020]]
am1crop_emisioncrops_gfrac_merge_columns.head()

,IMAGE Region Name,type,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,Rest S. Asia,grass,0.000186,0.000364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.704972e-05
1,Rest S. Asia,maize,0.000030,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
2,Rest S. Asia,oil & palm fruit,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
3,Rest S. Asia,other non-food & luxury & spices,0.005571,0.001914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.489770e-07
4,Rest S. Asia,other temperate cereals,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00

In [7]:
am1crop = am1crop_emisioncrops_gfrac_merge_columns.melt(id_vars=['IMAGE Region Name', 'type'], var_name='time', value_name='value')
am1crop.to_csv("D:/kerja/asisten riset/code v/step 3/GbGlct/dataset/luc_agri_prop_crop_region.csv", index=False)

In [ ]:
# am1crop_emisioncrops_gfrac_merge_columns['RegionType'] = am1crop_emisioncrops_gfrac_merge_columns['IMAGE Region Name'] + "-" + am1crop_emisioncrops_gfrac_merge_columns['type']
# am1crop_emisioncrops_gfrac_merge_columns.head()

In [ ]:
am1crop_emisioncrops_gfrac_merge_columns = am1crop_emisioncrops_gfrac_merge_columns[['RegionType', 1975,
                    1980,              1985,              1990,
                    1995,              2000,              2005,2010,2015,2020]]
# time  = list(range(1975, 2025, 5))
# am1crop_emisioncrops_gfrac_merge_columns.rename(columns={am1crop_emisioncrops_gfrac_merge_columns.columns[2:] : time})
am1crop_emisioncrops_gfrac_merge_columns

In [ ]:
am1crop_emisioncrops_gfrac_merge_columns.to_excel("./emision_absolute_regionType.xlsx", index=False)