In [10]:
import numpy as np
import pandas as pd

In [15]:
fao_stat = pd.read_csv("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/Production_Crops_Livestock_E_All_Data_analyze.csv")
crop_class = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/Crop Classification_latest.xlsx", engine="openpyxl", skiprows=1)
crop_class = crop_class.drop('Unnamed: 0', axis=1)
crop_class.rename(columns={'FAO Crops': 'Item'}, inplace=True)

In [16]:
fao_stat = fao_stat[~fao_stat["Area"].isin(["Americas", "Asia", "Australia and New Zealand", "Africa", "Belgium-Luxembourg", "Central America", "Central Asia", "Caribbean", "Czechoslovakia", "Eastern Africa", "Eastern Asia",
 "Eastern Europe", "European Union (27)","Land Locked Developing Countries", "Least Developed Countries", "Europe", "Low Income Food Deficit Countries", "Melanesia", "Middle Africa", 
  "Net Food Importing Developing Countries", "Northern Africa", "Northern America", "Northern Europe", "Oceania", "Polynesia", "Small Island Developing States", "Serbia and Montenegro",
  "South-eastern Asia", "Southern Africa", "Southern Asia", "Southern Europe", "Sudan (former)", "South America", "USSR", "Western Africa", "Western Asia", "Western Europe", "World", "Yugoslav SFR"])]

In [17]:
fao_stat_copy = fao_stat.copy()

prubahan_nama = {
    "China, Hong Kong SAR": "Hong Kong",
    "China, Macao SAR": "Macao", 
    "China, Taiwan Province of": "Taiwan, Province of China",
    "China, mainland": "China",
    "Democratic People's Republic of Korea": "Korea (Democratic People's Republic of)",
    "Democratic Republic of the Congo": "Congo, Democratic Republic of the",
    "Micronesia": "Micronesia (Federated States of)",
    "Micronesia (Federated States of) (Federated States of)": "Micronesia (Federated States of)",
    "Netherlands (Kingdom of the)": "Netherlands",
    "Republic of Korea": "Korea, Republic of",
    "Republic of Moldova": "Moldova, Republic of",
    "Palestine" : "Palestine, State of",
    "Türkiye": "Turkey",
    "United Republic of Tanzania": "Tanzania, United Republic of",
    "Ethiopia PDR" : "Eritrea"
}
keys_list = list(prubahan_nama.keys())
values_list = list(prubahan_nama.values())

# substitute
for i in range(len(keys_list)):
    fao_stat_copy['Area'] = fao_stat_copy['Area'].astype(str).str.replace(keys_list[i], values_list[i])

In [59]:
fao_stat_area_harv = fao_stat_copy[fao_stat_copy['Element'] == "Area harvested"]
fao_stat_area_harv = fao_stat_area_harv.fillna(0)
fao_stat_area_harv = fao_stat_area_harv.merge(crop_class, on='Item')

In [21]:
fao_stat_yield = fao_stat_copy[fao_stat_copy['Element'] == "Yield"]
fao_stat_yield
# fao_stat_yield = fao_stat_yield.merge(crop_class, on='Item')
# fao_stat_yield['FAO (primary/ processed)'].unique()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Year,Value
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5419,Yield,100 g/ha,1961,NaN
4,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5419,Yield,100 g/ha,1961,NaN
7,2,'004,Afghanistan,515,'01341,Apples,5419,Yield,100 g/ha,1961,68018.0
10,2,'004,Afghanistan,526,'01343,Apricots,5419,Yield,100 g/ha,1961,66390.0
14,2,'004,Afghanistan,44,'0115,Barley,5419,Yield,100 g/ha,1961,10800.0
...,...,...,...,...,...,...,...,...,...,...,...
4931604,5503,'057,Micronesia (Federated States of),1841,'F1841,"Oilcrops, Cake Equivalent",5419,Yield,100 g/ha,2022,4512.0
4931607,5503,'057,Micronesia (Federated States of),1732,'F1732,"Oilcrops, Oil Equivalent",5419,Yield,100 g/ha,2022,7333.0
4931611,5503,'057,Micronesia (Federated States of),1720,'F1720,"Roots and Tubers, Total",5419,Yield,100 g/ha,2022,80145.0
4931619,5503,'057,Micronesia (Federated States of),1729,'F1729,"Treenuts, Total",5419,Yield,100 g/ha,2022,6627.0
4931622,5503,'057,Micronesia (Federated States of),1735,'F1735,Vegetables Primary,5419,Yield,100 g/ha,2022,119532.0

In [51]:
fao_stat_yield_absolute = fao_stat_yield.copy()

In [52]:
fao_stat_yield_absolute = fao_stat_yield.merge(fao_stat_area_harv, on=['Area', 'Item', 'Year'], suffixes=('_yield', '_harv'))
fao_stat_yield_absolute['Value'] = (fao_stat_yield_absolute['Value_yield'] * fao_stat_yield_absolute['Value_harv']) / 1000

In [56]:
fao_stat_yield_absolute.to_csv("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/fao_stat_yield_absolute.csv", index=False)

# step 1
sum berdasarkan IMAGE Classification pertahun

In [14]:
fao_stat_yield_absolute = pd.read_csv("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/fao_stat_yield_absolute.csv")
fao_stat_yield_absolute

,Area Code_yield,Area Code (M49)_yield,Area,Item Code_yield,Item Code (CPC)_yield,Item,Element Code_yield,Element_yield,Unit_yield,Year,...,Alternative Class (C3 nitrogen fixing/ legumes crops) & (CAM to C4)_harv,Monfreda annual/ perennial_harv,LUH2Class_harv,IMAGE Classification_harv,Explicitly in IMAGE class_harv,Hong 2021 Classification_harv,Monfreda 2008\n Group_harv,Monfreda Crop Name_harv,Herbaceous/Shrub/Tree_harv,Value
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5419,Yield,100 g/ha,1961,...,NaN,perennial,c3per,Vegetables & fruits,YES,Pulses,tree nuts,Almonds,tree,0.000
1,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5419,Yield,100 g/ha,1961,...,NaN,annual,c3ann,"Other non-food, luxury, spices",YES,Spices,other,"Anise, badian, and fennel",herbaceous,0.000
2,2,'004,Afghanistan,515,'01341,Apples,5419,Yield,100 g/ha,1961,...,NaN,perennial,c3per,Vegetables & fruits,YES,Fruit,fruit,Apples,tree,150999.960
3,2,'004,Afghanistan,526,'01343,Apricots,5419,Yield,100 g/ha,1961,...,NaN,perennial,c3per,Vegetables & fruits,YES,Fruit,fruit,Apricots,tree,319999.800
4,2,'004,Afghanistan,44,'0115,Barley,5419,Yield,100 g/ha,1961,...,NaN,annual,c3ann,Other temperate cereals,YES,Cereals,cereals,Barley,herbaceous,3780000.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626939,5503,'057,Micronesia (Federated States of),83,'0114,Sorghum,5419,Yield,100 g/ha,2022,...,NaN,annual,c4ann,Tropical cereals,YES,Cereals,cereals,Sorghum,herbaceous,167.888
626940,5503,'057,Micronesia (Federated States of),122,'01530,Sweet potatoes,5419,Yield,100 g/ha,2022,...,NaN,annual,c3ann,Tropical roots and tubers,YES,Vegetables,roots and tubers,Sweet potatoes,herbaceous,31185.000
626941,5503,'057,Micronesia (Federated States of),122,'01530,Sweet potatoes,5419,Yield,100 g/ha,2022,...,NaN,annual,c3ann,Tropical roots and tubers,YES,Vegetables,roots and tubers,Sweet potatoes,herbaceous,31185.000
626942,5503,'057,Micronesia (Federated States of),136,'01550,Taro,5419,Yield,100 g/ha,2022,...,NaN,annual,c3ann,Tropical roots and tubers,YES,Vegetables,roots and tubers,Taro,herbaceous,19576.044
626943,5503,'057,Micronesia (Federated States of),388,'01234,Tomatoes,5419,Yield,100 g/ha,2022,...,NaN,annual,c3ann,Vegetables & fruits,YES,Vegetables,vegetables and melons,Tomatoes,herbaceous,0.000

In [12]:
fao_stat_yield_absolute['IMAGE Classification_yield'] = fao_stat_yield_absolute['IMAGE Classification_yield'].apply(lambda x: x.replace('and', '&').replace('Plant-based fibers', 'Plant based fibres').replace('Oil, palm fruit', 'Oil & palm fruit').replace('Other non-food, luxury, spices', 'Other non-food & luxury & spices').replace('Vegetables or fruits', 'Vegetables & fruits'))

In [13]:
fao_stat_yield_absolute_columns = fao_stat_yield_absolute[['Area', 'Item', 'Year','IMAGE Classification_yield', 'Value']]
fao_stat_yield_absolute_columns = fao_stat_yield_absolute_columns.rename(columns={"IMAGE Classification_yield": "IMAGE Classification"})
fao_stat_yield_absolute_columns = fao_stat_yield_absolute_columns[fao_stat_yield_absolute_columns['Year'] >= 1968]
fao_stat_yield_absolute_columns
# fao_stat_yield_absolute_columns.to_csv("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/fao_stat_yield_absolute_columns.csv", index=False)

,Area,Item,Year,IMAGE Classification,Value
70784,Afghanistan,"Almonds, in shell",1968,Vegetables & fruits,0.000
70785,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",1968,Other non-food & luxury & spices,0.000
70786,Afghanistan,Apples,1968,Vegetables & fruits,278999.890
70787,Afghanistan,Apricots,1968,Vegetables & fruits,594002.160
70788,Afghanistan,Barley,1968,Other temperate cereals,3609996.000
...,...,...,...,...,...
626939,Micronesia (Federated States of),Sorghum,2022,Tropical cereals,167.888
626940,Micronesia (Federated States of),Sweet potatoes,2022,Tropical roots & tubers,31185.000
626941,Micronesia (Federated States of),Sweet potatoes,2022,Tropical roots & tubers,31185.000
626942,Micronesia (Federated States of),Taro,2022,Tropical roots & tubers,19576.044
626943,Micronesia (Federated States of),Tomatoes,2022,Vegetables & fruits,0.000

In [22]:
fao_stat_yield_absolute_columns_drop = fao_stat_yield_absolute_columns.drop_duplicates(subset=['Area', 'Item', 'Year', 'IMAGE Classification', 'Value'])
fao_stat_yield_absolute_columns_drop

,Area,Item,Year,IMAGE Classification,Value
70784,Afghanistan,"Almonds, in shell",1968,Vegetables & fruits,0.000
70785,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",1968,Other non-food & luxury & spices,0.000
70786,Afghanistan,Apples,1968,Vegetables & fruits,278999.890
70787,Afghanistan,Apricots,1968,Vegetables & fruits,594002.160
70788,Afghanistan,Barley,1968,Other temperate cereals,3609996.000
...,...,...,...,...,...
626931,Micronesia (Federated States of),"Other vegetables, fresh n.e.c.",2022,Vegetables & fruits,92544.084
626932,Micronesia (Federated States of),Papayas,2022,Vegetables & fruits,0.000
626935,Micronesia (Federated States of),"Pumpkins, squash and gourds",2022,Vegetables & fruits,0.000
626942,Micronesia (Federated States of),Taro,2022,Tropical roots & tubers,19576.044
626943,Micronesia (Federated States of),Tomatoes,2022,Vegetables & fruits,0.000

In [24]:
# fao_stat_yield_absolute_columns_drop[fao_stat_yield_absolute_columns_drop['IMAGE Classification'] == "Sugar crops"]

In [25]:
step1_copy = fao_stat_yield_absolute_columns_drop.copy()
step1_copy['Value'] = step1_copy['Value'].fillna(0)
step1_copy['Value'] = 0
step1_copy['Value'] = fao_stat_yield_absolute_columns_drop.groupby(['Area', "Year", 'IMAGE Classification'])['Value'].transform('sum')
step1_copy

,Area,Item,Year,IMAGE Classification,Value
70784,Afghanistan,"Almonds, in shell",1968,Vegetables & fruits,1.336799e+07
70785,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",1968,Other non-food & luxury & spices,0.000000e+00
70786,Afghanistan,Apples,1968,Vegetables & fruits,1.336799e+07
70787,Afghanistan,Apricots,1968,Vegetables & fruits,1.336799e+07
70788,Afghanistan,Barley,1968,Other temperate cereals,3.609996e+06
...,...,...,...,...,...
626931,Micronesia (Federated States of),"Other vegetables, fresh n.e.c.",2022,Vegetables & fruits,5.176068e+05
626932,Micronesia (Federated States of),Papayas,2022,Vegetables & fruits,5.176068e+05
626935,Micronesia (Federated States of),"Pumpkins, squash and gourds",2022,Vegetables & fruits,5.176068e+05
626942,Micronesia (Federated States of),Taro,2022,Tropical roots & tubers,1.411468e+05
626943,Micronesia (Federated States of),Tomatoes,2022,Vegetables & fruits,5.176068e+05

In [26]:
# step1_copy[step1_copy['IMAGE Classification'] == "Sugar crops"]

In [27]:
step1_copy_drop = step1_copy.drop_duplicates(subset=['Area', 'Year', 'IMAGE Classification', 'Value'])
step1_copy_drop

,Area,Item,Year,IMAGE Classification,Value
70784,Afghanistan,"Almonds, in shell",1968,Vegetables & fruits,1.336799e+07
70785,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",1968,Other non-food & luxury & spices,0.000000e+00
70788,Afghanistan,Barley,1968,Other temperate cereals,3.609996e+06
70792,Afghanistan,Linseed,1968,Temperate oil crops,3.609896e+05
70793,Afghanistan,Maize (corn),1968,Maize,7.729992e+06
...,...,...,...,...,...
626896,Zimbabwe,Soya beans,2022,Soybeans,5.140915e+05
626898,Zimbabwe,Sugar cane,2022,Sugar crops,3.452873e+07
626906,Zimbabwe,Wheat,2022,Wheat,2.000016e+06
626909,Micronesia (Federated States of),"Broad beans and horse beans, green",2022,Pulses,0.000000e+00
626919,Micronesia (Federated States of),Edible roots and tubers with high starch or in...,2022,Temperate roots & tubers,0.000000e+00

In [39]:
# step1_copy_drop[step1_copy_drop['IMAGE Classification'] == "Sugar crops"]

In [29]:
step1_copy_columns = step1_copy_drop[['Area', 'Year', 'IMAGE Classification', 'Value']]
step2_copy = step1_copy_columns.copy()
eight_year_ranges = [(y, y+4) for y in range(1968, 2022, 5)]

for year in eight_year_ranges:
    mask = (step1_copy_columns['Year'] >= year[0]) & (step1_copy_columns['Year'] <= year[1]) #5years
    step2_copy.loc[mask, 'Value'] = step1_copy_columns[mask].groupby(['Area', 'IMAGE Classification'])['Value'].transform('mean')
step2_copy

,Area,Year,IMAGE Classification,Value
70784,Afghanistan,1968,Vegetables & fruits,1.298082e+07
70785,Afghanistan,1968,Other non-food & luxury & spices,0.000000e+00
70788,Afghanistan,1968,Other temperate cereals,3.602027e+06
70792,Afghanistan,1968,Temperate oil crops,3.410026e+05
70793,Afghanistan,1968,Maize,7.229993e+06
...,...,...,...,...
626896,Zimbabwe,2022,Soybeans,5.164043e+05
626898,Zimbabwe,2022,Sugar crops,3.518328e+07
626906,Zimbabwe,2022,Wheat,1.778861e+06
626909,Micronesia (Federated States of),2022,Pulses,0.000000e+00
626919,Micronesia (Federated States of),2022,Temperate roots & tubers,0.000000e+00

In [30]:
# step2_copy[step2_copy['IMAGE Classification'] == "Sugar crops"]

In [31]:
step2_copy_drop = step2_copy.drop_duplicates(subset=['Area', 'Year', 'IMAGE Classification', 'Value'])
step2_copy_drop

,Area,Year,IMAGE Classification,Value
70784,Afghanistan,1968,Vegetables & fruits,1.298082e+07
70785,Afghanistan,1968,Other non-food & luxury & spices,0.000000e+00
70788,Afghanistan,1968,Other temperate cereals,3.602027e+06
70792,Afghanistan,1968,Temperate oil crops,3.410026e+05
70793,Afghanistan,1968,Maize,7.229993e+06
...,...,...,...,...
626896,Zimbabwe,2022,Soybeans,5.164043e+05
626898,Zimbabwe,2022,Sugar crops,3.518328e+07
626906,Zimbabwe,2022,Wheat,1.778861e+06
626909,Micronesia (Federated States of),2022,Pulses,0.000000e+00
626919,Micronesia (Federated States of),2022,Temperate roots & tubers,0.000000e+00

In [32]:
# step2_copy_drop[step2_copy_drop['IMAGE Classification'] == "Sugar crops"]

In [33]:
step3_copy = step2_copy_drop.copy()

eight_year_ranges = [(y, y+4) for y in range(1968, 2022, 5)]
five_yearIncrements = range(1970, 2025, 5)
for year, five_year in zip(eight_year_ranges, five_yearIncrements):
    year_idx = step2_copy_drop[(step2_copy_drop['Year'] >= year[0]) & (step2_copy_drop['Year'] <= year[1])]['Year'].index
    step3_copy.loc[year_idx, 'Year'] = five_year
step3_copy

,Area,Year,IMAGE Classification,Value
70784,Afghanistan,1970,Vegetables & fruits,1.298082e+07
70785,Afghanistan,1970,Other non-food & luxury & spices,0.000000e+00
70788,Afghanistan,1970,Other temperate cereals,3.602027e+06
70792,Afghanistan,1970,Temperate oil crops,3.410026e+05
70793,Afghanistan,1970,Maize,7.229993e+06
...,...,...,...,...
626896,Zimbabwe,2020,Soybeans,5.164043e+05
626898,Zimbabwe,2020,Sugar crops,3.518328e+07
626906,Zimbabwe,2020,Wheat,1.778861e+06
626909,Micronesia (Federated States of),2020,Pulses,0.000000e+00
626919,Micronesia (Federated States of),2020,Temperate roots & tubers,0.000000e+00

In [34]:
# step3_copy[step3_copy['IMAGE Classification'] == "Sugar crops"]

In [35]:
step3_copy_drop = step3_copy.drop_duplicates(subset=['Area', 'Year', 'IMAGE Classification', 'Value'])
step3_copy_drop

,Area,Year,IMAGE Classification,Value
70784,Afghanistan,1970,Vegetables & fruits,1.298082e+07
70785,Afghanistan,1970,Other non-food & luxury & spices,0.000000e+00
70788,Afghanistan,1970,Other temperate cereals,3.602027e+06
70792,Afghanistan,1970,Temperate oil crops,3.410026e+05
70793,Afghanistan,1970,Maize,7.229993e+06
...,...,...,...,...
586448,Zimbabwe,2020,Soybeans,5.164043e+05
586450,Zimbabwe,2020,Sugar crops,3.518328e+07
586458,Zimbabwe,2020,Wheat,1.778861e+06
586461,Micronesia (Federated States of),2020,Pulses,0.000000e+00
586471,Micronesia (Federated States of),2020,Temperate roots & tubers,0.000000e+00

In [36]:
# step3_copy_drop[step3_copy_drop['IMAGE Classification'] == "Sugar crops"]

In [37]:
# fao_stat_yield_absolute_columns_drop[(fao_stat_yield_absolute_columns_drop['Year'] == 1970 )  & (fao_stat_yield_absolute_columns_drop['Item'] == "Other sugar crops n.e.c.") 
# | (fao_stat_yield_absolute_columns_drop['Item'] == "Sugar beet") | (fao_stat_yield_absolute_columns_drop['Item'] == "Sugar cane")]

In [4]:
# step1_val = fao_stat_yield_absolute_columns_drop[(fao_stat_yield_absolute_columns_drop['Year'] >= 1968) & (fao_stat_yield_absolute_columns_drop['Year'] <= 1972) & (fao_stat_yield_absolute_columns_drop['Item'] == "Other sugar crops n.e.c.") 
# | (fao_stat_yield_absolute_columns_drop['Item'] == "Sugar beet") | (fao_stat_yield_absolute_columns_drop['Item'] == "Sugar cane")]
# step1_val

In [3]:
# step1_val_copy = step1_val.copy()
# step1_val_copy['Value'] = step1_val.groupby(['Year', 'Area', 'IMAGE Classification'])['Value'].transform('sum')
# # step1_val_copy = step1_val.copy()
# step1_val_copy

In [2]:
# step1_val_copy_drop = step1_val_copy.drop_duplicates(subset=['Area', 'Year', 'IMAGE Classification', 'Value'])
# step1_val_copy_drop

In [1]:
# step1_val_columns = step1_val_copy_drop[['Area', 'Year', 'IMAGE Classification', 'Value']]
# step1_val_columns_copy = step1_val_columns.copy()
# eight_year_ranges = [(y, y+4) for y in range(1968, 2022, 5)]

# for year in eight_year_ranges:
#     mask = (step1_val_columns['Year'] >= year[0]) & (step1_val_columns['Year'] <= year[1]) #5years
#     step1_val_columns_copy.loc[mask, 'Value'] = step1_val_columns[mask].groupby(['Area', 'IMAGE Classification'])['Value'].transform('mean')
# step1_val_columns_copy

In [5]:
# step1_val_columns_copy_drop = step1_val_columns_copy.drop_duplicates(subset=['Area', 'Year', 'IMAGE Classification', 'Value'])
# step1_val_columns_copy_drop

In [6]:
# step1_val_columns_copy = step1_val_columns_copy_drop.copy()

# eight_year_ranges = [(y, y+4) for y in range(1968, 2022, 5)]
# five_yearIncrements = range(1970, 2025, 5)
# for year, five_year in zip(eight_year_ranges, five_yearIncrements):
#     year_idx = step1_val_columns_copy_drop[(step1_val_columns_copy_drop['Year'] >= year[0]) & (step1_val_columns_copy_drop['Year'] <= year[1])]['Year'].index
#     step1_val_columns_copy.loc[year_idx, 'Year'] = five_year
# step1_val_columns_copy

In [7]:
# step1_val_columns_copy_drop = step1_val_columns_copy.drop_duplicates(subset=['Area', 'Year', 'IMAGE Classification', 'Value'])
# step1_val_columns_copy_drop

In [38]:
step3_copy_drop.to_csv("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/faostat_yield_absolute.csv", index=False)