In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [3]:
gfrac_sheet_names = ["grass", "Wheat","Rice","Maize","Tropical cereals",
                     "Other temperate cereals","Pulses","Soybeans",
                     "Temperate oil crops","Tropical oil crops",
                     "Temperate roots & tubers","Tropical roots & tubers",
                     "Sugar crops","Oil & palm fruit","Vegetables & fruits",
                     "Other nonfood & luxury spices","Plant based fibres"]

INPUT_FILE_PATH = "X:/cadlan/stream_2/xAdditional/emission_from_natveg_to_agri_v2.xlsx"
OUTPUT_FILE_PATH = "X:/cadlan/stream_2/xAdditional/emission_from_natveg_to_agri_v2_concat.xlsx"

dataframes = []
for sheet_name in gfrac_sheet_names:
    df = pd.read_excel(INPUT_FILE_PATH, sheet_name=sheet_name)
    dataframes.append(df)

tahun = list(range(1975, 2021, 5))
tahun.append('origin')
tahun.append('country')

merged_df = pd.concat(dataframes, axis=0, ignore_index=True).fillna(0)
merged_df.to_excel(OUTPUT_FILE_PATH, index=False)

In [2]:
gfrac_sheet_names = ["grass", "Wheat","Rice","Maize","Tropical cereals",
                     "Other temperate cereals","Pulses","Soybeans",
                     "Temperate oil crops","Tropical oil crops",
                     "Temperate roots & tubers","Tropical roots & tubers",
                     "Sugar crops","Oil & palm fruit","Vegetables & fruits",
                     "Other nonfood & luxury spices","Plant based fibres"]

INPUT_FILE_PATH = "X:/cadlan/stream_2/xAdditional/natveg2crops_v4.xlsx"
OUTPUT_FILE_PATH = "X:/cadlan/stream_2/xAdditional/natveg2crops_v4_concat.xlsx"

dataframes = []
for sheet_name in gfrac_sheet_names:
    df = pd.read_excel(INPUT_FILE_PATH, sheet_name=sheet_name)
    dataframes.append(df)

tahun = list(range(1975, 2021, 5))
tahun.append('origin')
tahun.append('country')

merged_df = pd.concat(dataframes, axis=0, ignore_index=True).fillna(0)
merged_df.to_excel(OUTPUT_FILE_PATH, index=False)

In [3]:
gfrac_sheet_names = ["grass", "Wheat","Rice","Maize","Tropical cereals",
                     "Other temperate cereals","Pulses","Soybeans",
                     "Temperate oil crops","Tropical oil crops",
                     "Temperate roots & tubers","Tropical roots & tubers",
                     "Sugar crops","Oil & palm fruit","Vegetables & fruits",
                     "Other nonfood & luxury spices","Plant based fibres"]

INPUT_FILE_PATH = "Z:/achaidir/IMAGE PBL/maps/natveg_to_crops_country_ccode.xlsx"
OUTPUT_FILE_PATH = "Z:/achaidir/IMAGE PBL/maps/natveg_to_crops_country_ccode_concat.xlsx"

dataframes = []
for sheet_name in gfrac_sheet_names:
    df = pd.read_excel(INPUT_FILE_PATH, sheet_name=sheet_name)
    dataframes.append(df)

tahun = list(range(1975, 2021, 5))
tahun.append('origin')
tahun.append('country')

merged_df = pd.concat(dataframes, axis=0, ignore_index=True).fillna(0)
merged_df.to_excel(OUTPUT_FILE_PATH, index=False)

In [4]:
import pandas as pd
import numpy as np
from functools import reduce
ccode_iso = pd.read_excel("Z:/achaidir/Country Grids/ISO-3166-Country-Code_Final.xlsx", engine="openpyxl")

In [5]:
ccode_iso

,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,IMAGE Region Code,IMAGE Region Name
0,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe and Russia,Europe,WEU,W. Europe
1,Afghanistan,AF,AFG,4,ISO 3166-2:AF,South Asia,Asia,RSAS,Rest S. Asia
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe and Russia,Europe,CEU,C. Europe
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Oceania,OCE,Oceania
...,...,...,...,...,...,...,...,...,...
240,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Middle East,Africa,NAF,N. Africa
241,Yemen,YE,YEM,887,ISO 3166-2:YE,Middle East,Asia,ME,Middle East
242,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,sub-Saharan Africa,Africa,RSAF,Rest S. Africa
243,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,sub-Saharan Africa,Africa,RSAF,Rest S. Africa
244,Kosovo,XK,NaN,999,ISO 3166-2:RS,Europe and Russia,Europe,CEU,C. Europe

In [6]:
natveg_to_crops = pd.read_excel("Z:/achaidir/IMAGE PBL/maps/natveg_to_crops_country_ccode_concat.xlsx")
natveg_to_crops

,origin,country,type,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,0,-2147483648,grass,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
1,0,4,grass,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
2,0,8,grass,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
3,0,12,grass,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
4,0,16,grass,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14296,wmfo,800,Plant based fibres,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
14297,wmfo,834,Plant based fibres,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.131484,0.0,950.794067
14298,wmfo,840,Plant based fibres,0.0,0.0,0.0,0.0,26402.494141,0.0,0.0,0.000000,0.0,13989.866211
14299,wmfo,858,Plant based fibres,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
14300,wmfo,862,Plant based fibres,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000

In [7]:
natveg_to_crops_merge = pd.merge(left=ccode_iso, right=natveg_to_crops, how="left", left_on="country-code", right_on="country")
natveg_to_crops_merge_columns = natveg_to_crops_merge[[ 'IMAGE Region Name', 'origin','type',                1975,
                      1980,                1985,                1990,
                      1995,                2000,                2005,
                      2010,                2015,                2020]]
natveg_to_crops_merge_columns_groupby = natveg_to_crops_merge_columns.groupby(['IMAGE Region Name', 'origin','type']).sum()
natveg_to_crops_merge_columns_groupby_index = natveg_to_crops_merge_columns_groupby.reset_index()
natveg_to_crops_merge_columns_groupby_index
natveg_to_crops_merge_columns_groupby_index.to_excel("Z:/achaidir/IMAGE PBL/maps/natveg_to_crops_country_ccode_concat_region.xlsx", index=False)

In [9]:
natveg_to_crops_merge_columns_groupby_index['origin'].unique()

array([0, 'rftm', 'scrb', 'stepp', 'svna', 'trof', 'trow', 'wmfo', 'tdfo',
       'tmfo', 'bore', 'ccfo', 'rfab', 'tund', 'tuwd', 'dsrt'],
      dtype=object)

In [ ]:
'rftm', 'trof', 'trow', 'wmfo', 'tdfo','tmfo', 'bore', 'ccfo', 'rfab'

In [ ]:
'scrb', 'stepp', 'svna','tund', 'tuwd', 'dsrt'